# Magento 2 specific files and directories
/app/etc/env.php
/app/etc/config.php

/pub/media/*
!/pub/media/.htaccess

/var/*
!/var/.htaccess

/generated/*
/vendor/*
/pub/static/*
/pub/*_cache/*
!/pub/static/.htaccess
!/pub/static/_cache/.htaccess

/node_modules/

/lib/internal/*
!/lib/internal/.htaccess

### Composer ###
/composer.lock
/vendor/composer/*

### IDE Specific ###
.idea/
nbproject/
*.sublime-project
*.sublime-workspace

### Logs ###
*.log
*.log.*
*.csv
*.log_*

### Backup files ###
*.gz
*.zip
*.tar
*.bak

### Miscellaneous ###
.DS_Store
.cache
*.swp

### Magento Cloud/Env ###
/gravatar
/.build/
/.magento.env.yaml
