/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
/.idea
atlassian*
/nbproject

/sitemap
/app/config_sandbox
/app/code/Magento/TestModule*
/lib
/node_modules
/.grunt
/pub
/dev
/bin
/phpserver
/setup
/update
/var
/vendor
/generated

/app/etc/env.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/db_schema.xml
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
/app/*.php
/app/.htaccess
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/auth.json.sample
/robots.txt
/sitemap.xml
/.htaccess
/.htaccess.sample
/.php_cs.dist
/.travis.yml
/.user.ini
/CHANGELOG.md
/README_EE.md
/SECURITY.md
/COPYING.txt
/index.php
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE.txt
/nginx.conf.sample
/grunt-config.json.sample
/Gruntfile.js.sample
/package.json.sample
.DS_Store
/suppressed.csv
/test.php
