<?xml version="1.0" encoding="UTF-8"?>
<!--
    @copyright Copyright (c) 2025 Magebit (https://magebit.com/)
    @author    <info@magebit.com>
    @license   GNU General Public License ("GPL") v3.0
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magebit_Faq::question" title="Frequently Asked Questions" parent="Magento_Backend::content_elements" module="Magebit_Faq" sortOrder="20" resource="Magebit_Faq::question" action="magebit_faq/question/index" />
    </menu>
</config>
